<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Práctico</title>
</head>
<body>
    <h1>Héroes</h1>
    <img src="/img/Eric.png" alt="Eric">
    <ul>
        <li><a href="./babbage">Babbage</a></li>
        <li><a href="./berners-lee">Berners Lee</a></li>
        <li><a href="./clarke">Clarke</a></li>
        <li><a href="./hamilton">Hamilton</a></li>
        <li><a href="./hopper">Hopper</a></li>
        <li><a href="./lovelace">Lovelace</a></li>
        <li><a href="./turing">Turing</a></li>
    </ul>
</body>
</html>