<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Trabajo Práctico</title>
</head>
<body>
    <h1>Héro<a href="http://tiny.cc/mvosuz">e</a>s</h1>
    <ul>
        <li><a href="./babbage">Babbage</a></li>
        <li><a href="./berners-lee">Berners Lee</a></li>
        <li><a href="./clarke">Clarke</a></li>
        <li><a href="./hamilton">Hamilton</a></li>
        <li><a href="./hopper">Hopper</a></li>
        <li><a href="./lovelace">Lovelace</a></li>
        <li><a href="./turing">Turing</a></li>
    </ul>

    <h1>Mi héro<a href="http://tiny.cc/uvosuz">e</a></h1>
    <a target="_blank" href="http://tiny.cc/ovosuz">
        <img src="/img/Eric.png" style="width:30%" alt="Eric">
    </a>

    <br> <div class="spot"><a href="http://tiny.cc/svosuz">　</a></div>
</body>
</html>